const char* WIFI_HOSTNAME = ...; // ex: "Sonoff Living Room Light"
const char* WIFI_SSID = ...; // ex: "My Wifi"
const char* WIFI_PASSWORD =  ...; // ex: "S3cUr3"

const char* MQTT_HOST = ...; // ex: "mqtt.home-network.com"
const int MQTT_PORT = ...; // ex: 1883
const char* MQTT_ID = ...; // ex: "Living Room Light"
const char* MQTT_USERNAME = ...; // ex: "homeassistant"
const char* MQTT_PASSWORD = ...; // ex: "H0m34ss1st4nt"

const char* COMMAND_TOPIC = ...; // ex: "/home_assistant/light/living_room/set"
const char* STATE_TOPIC = ...; // ex: "/home_assistant/light/living_room/state"
